[submodule "src/list"]
	path = src/list
	url = git@github.com:dxtr/list.git
[submodule "src/bst"]
	path = src/bst
	url = git@github.com:dxtr/bst.git
[submodule "htable"]
	path = src/htable
	url = git@github.com:dxtr/htable.git
